.slack-theme--transitioning {
	* {
		transition: all .5s;
	}
}

.slack-theme--enabled {
	.c-message--focus:not(.c-message--highlight):not(.c-message--standalone):not(.c-message--pinned):not(.c-message--ephemeral):not(.c-message--custom_response):not(.c-message--starred):not(.c-message--sli_highlight),.c-message--hover:not(.c-message--highlight):not(.c-message--standalone):not(.c-message--pinned):not(.c-message--ephemeral):not(.c-message--custom_response):not(.c-message--starred):not(.c-message--sli_highlight),.c-message:hover:not(.c-message--highlight):not(.c-message--standalone):not(.c-message--pinned):not(.c-message--ephemeral):not(.c-message--custom_response):not(.c-message--starred):not(.c-message--sli_highlight) {
		background-color: var(--page-background-highlight, rgba(255, 255, 255, .2));
	}

	.c-scrollbar__hider,
	.p-message_pane .c-message_list.c-virtual_list--scrollbar>.c-scrollbar__hider,
	.p-message_pane .c-message_list:not(.c-virtual_list--scrollbar) {
		background-color: var(--page-background);
		color: var(--page-foreground);
	}

	.c-message--light .c-message__sender .c-message__sender_link,
	.c-message_attachment {
		color: var(--page-foreground);
	}

	.TBC {
		background-color: var(--page-background);
	}
}
